<div class="well">

    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <img src="<%= asset_path "kuma_top" %>" class="img-responsive img-rounded">
        </div>
        <div class="col-xs-12 col-sm-7">
            <h1 class="top-h1">
                <div class="hidden-xs top-margin01"></div>
                ツイッターのような掲示板<br>
                くま会談風<br>
                <small>略してツイくま</small>
            </h1>
        </div>
    </div>
    <div class="top-margin02">
        <p>説明。140文字を投稿できる掲示板です。</p>
        <p>投稿した内容は、自動的にくまのつぶやきに置き換えられます。</p>
    </div>
</div>